.qcontainer {
    visibility: invisible;
}

.questionContainer li {
    width: 50px;
    
}
.questionContainer li:hover {
    background-color: blue;
}

.container {
    visibility: hidden;
    background-color: blue;
}