
header {
    display: flex;
    justify-content: center;
}

.time {
    margin: 20px;
    justify-content: center;

}
.qcontainer {
    visibility: invisible;
    display: flex;
    justify-content: left;
    margin: 20px;
}





   


.time {
    visibility: hidden;
}
body {
    background-color: rgb(196, 255, 254);
    color: blue;
}